{% extends "base.html" %}

{% block titulo %}Finsys - Inovação e Segurança{% endblock %}

{% block custom_header %}
    {% endblock %}

{% block conteudo %}
    <div class="apresentacao-hero">
        
        <div class="hero-content">
            <h1 class="texto-grande">
                <span class="destaque-laranja">Segurança</span><br>
                para o seu futuro.
            </h1>
            
            <p class="texto-pequeno">
                Organização financeira rápida e eficiente.
            </p>
            
            <div class="botoes-login-cadastro">
                <a href="{{ url_for('login') }}" class="btn-acao">
                    Faça login
                </a>
                
                <span class="texto-ou">ou</span>
                
                <a href="{{ url_for('cadastro') }}" class="btn-acao">
                    Comece agora &rarr;
                </a>
            </div>
            </div>
        
        <div class="image-placeholder">
            </div>
    </div>
{% endblock %}

{% block custom_footer %}
    {% endblock %}