<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block titulo %}Finsys App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">
</head>
<body class="{% if g.endpoint == 'apresentacao' and not g.user %}background-apresentacao{% endif %}">

    {% block custom_header %}
        {% if g.endpoint == 'apresentacao' and not g.user %}
            <header class="header-apresentacao">
                <div class="logo-container">
                    <img src="{{ url_for('static', filename='Imagens/Logotipo.png') }}" alt="Logo Finsys" class="logo-app logo-apresentacao">
                    <h1>Finsys</h1>
                </div>
                
                <nav class="nav-apresentacao"> 
                    <a href="{{ url_for('login') }}" class="btn-login-apresentacao">Login</a> 
                    <a href="{{ url_for('cadastro') }}" class="btn-cadastro-apresentacao">Cadastre-se</a>
                </nav>
            </header>
        {% else %}
            <header>
                <div class="logo-container">
                    <img src="{{ url_for('static', filename='Imagens/Logotipo.png') }}" alt="Logo Finsys" class="logo-app">
                    <h1>Finsys</h1>
                </div>
                
                <nav> 
                    {% if 'user_email' not in session %}
                        <a href="{{ url_for('apresentacao') }}">Apresentação</a> |
                        <a href="{{ url_for('login') }}">Login</a> |
                        <a href="{{ url_for('cadastro') }}">Cadastro</a>
                    {% else %}
                        <a href="{{ url_for('index') }}">Início</a> |
                        <a href="{{ url_for('dados_usuario') }}">Perfil</a> |
                        <a href="{{ url_for('contato') }}">Contato</a>
                    {% endif %}
                </nav>
            </header>
        {% endif %}
    {% endblock %}

    <main class="{% if g.endpoint == 'apresentacao' and not g.user %}main-apresentacao{% endif %}">
        {% block conteudo %}{% endblock %}
    </main>

    {% block custom_footer %}
        {% if g.endpoint == 'apresentacao' and not g.user %}
            <footer class="footer-apresentacao">
                <p>Desenvolvido por Jeshua</p>
            </footer>
        {% else %}
            <footer>
                <p>&copy;Desenvolvido por Jeshua</a></p>
            </footer>
        {% endif %}
    {% endblock %}
    
    <script src="{{ url_for('static', filename='JavaScript/script.js') }}"></script>
</body>
</html>