<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block titulo %}Finsys App{% endblock %}</title>
    </head>
<body>
    <header>
        <h1>Finsys</h1>
        <nav> 
            {% if 'user_email' not in session %}
                <a href="{{ url_for('apresentacao') }}">Apresentação</a> |
                <a href="{{ url_for('login') }}">Login</a> |
                <a href="{{ url_for('cadastro') }}">Cadastro</a>
            {% else %}
                <a href="{{ url_for('index') }}">Início</a> |
                <a href="{{ url_for('dados_usuario') }}">Perfil</a> |
                <a href="{{ url_for('contato') }}">Contato</a> |
                <a href="{{ url_for('logout') }}">Sair</a>
            {% endif %}
        </nav>
    </header>

    <main>
        {% block conteudo %}{% endblock %}
    </main>

    <footer>
        <p>Desenvolvido com Flask.</p>
    </footer>
</body>
</html>