{% extends "base.html" %}

{% block titulo %}Início{% endblock %}

{% block conteudo %}
    <h2>Bem-vindo ao Finsys</h2>
    <h1>O que é Finsys?</h1>
    <p>É um aplicativo que funciona como um lembrete ou diário, nele você pode adicionar uma serie de informações, tais como as contas
        a pagar, os seus rendimentos, suas dívidas, suas metas, ect.</p>
    <p>Foi desenvolvido com o propósito de ajudar as pessoas que por algum motivo não tem controle na sua vida financeira, tais motivos são:<br>
    <br>
        - Falta de planejamento.<br>
        - Compras compulsivas.<br>
        - Não monitora e nem anota seus gastos.<br>
        - Endividamento acumulado.<br>
        - Pensa que não merece ter paz.<br>
        - Falta de conhecimento.<br>
    </p>
{% endblock %}